.modal.fade.contact-form-modal#contact-form-modal(tabindex="-1", role="dialog", aria-labelledby="contact-form-title")
  .modal-dialog
    form.modal-content.contact-form-modal__form#contact-form-modal__form
      .modal-header.has-border
        button.close(class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title#contact-form-title= modalTitle
      .modal-body
        p
          b Note: #{''}
          | Only Extend Enterprise customers can submit support tickets.
        p For Developer and Starter subscriptions, visit the #{''}
          a(href="https://community.goextend.io/", taget="_blank") Extend Community Forums
          | .
        .form-group
          label.sr-only(for="contact-form-modal__name") Name
          input.form-control.contact-form-modal__name#contact-form-modal__name(type="text", placeholder="Name", autocomplete="section-contact name", name="name", required)
          span.required *
        .form-group
          label.sr-only(for="contact-form-modal__email") Email address
          input.form-control.contact-form-modal__email#contact-form-modal__email(type="email", placeholder="Email address", autocomplete="section-contact email", name="email", required)
          span.required *
        .form-group
          label.sr-only(for="contact-form-modal__message") Message
          textarea.form-control.contact-form-modal__message#contact-form-modal__message(rows="4", placeholder="Briefly explain your issue", name="message", required)
          span.required *
        p Extend Host URL:
        .form-group
          label.sr-only(for="contact-form-modal__host-url") Extend Host URL
          input.form-control.contact-form-modal__host-url#contact-form-modal__host-url(type="text", placeholder="https://{your-subdomain}.auth0-extend.com", name="hostUrl", required)
          span.required *
        p Severity:
        .form-group
          label.sr-only(for="contact-form-modal__severity") Severity
          .acf-custom-select
            select.form-control.contact-form-modal__severity#contact-form-modal__severity(name="severity", required)
              option Normal
              option Urgent
              option High
              option Low
          span.required *

      .modal-footer
        button.btn.btn-success.btn-lg.animated.contact-form-modal__submit#contact-form-modal__submit(type="submit") Send
